@{
    ViewData["Title"] = "Home Page";
    var color = "rgb(51, 170, 255)";
    if (ViewData["crLevel"] != null)
    {
        int crLevel = (int)ViewData["crLevel"];
        if (crLevel == 1)
            color = "rgb(255, 245, 49);";
        else if (crLevel == 2)
            color = "rgb(255, 137, 27);";
        else if (crLevel == 3)
            color = "rgb(255 85 86)";
        else if (crLevel == 4)
            color = "red;";
    }

}
@{
    if (ViewData["output"] != null)
    {
        <p style="color: @color">@Html.Raw(ViewData["output"])</p>
    }
}
<form class="upload-form" asp-action="Index" method="post" enctype="multipart/form-data">
    <textarea type="text" id="hiddenInput" name="UserInput" style="display: none;" onchange="this.form.submit()"></textarea>
    <input type="file" onchange="updateFileName()" name="file" id="file" style="visibility:hidden;">

    <div class="chat-box">
        <svg onclick="uploadFile()" class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
            <path
                d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z" />
        </svg>
        <div id="editableDiv" id="Chat" class="message-input editable" onkeydown="handleKeyDown(event)"></div>
        <button class="send-button" type="button" onclick="processInput()">
            <svg style="transform: rotate(45deg);" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path
                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
            </svg>
        </button>
        <br>
    </div>
    <p id="file-name">No file specified</p>
    @{
        if (ViewData["IsError"] == "true")
        {
            <p style="color: red;">@ViewData["Messeg"]</p>
        }

    }
</form>
